$color-border--card: #DDDDDD;
$color-text--card: #333333;

$color-border--image: #E8E8E8;
$color-bkgrd--image: #F4F4F4;


$color-box-shadow: #999999;
$color-bkgrd--cta: #6FD830;
$color-text--cta: #FFFFFF;
$color-bkgrd--cta-sale: orange;

$color-bkgrd--flag: #5CC1DE;
$color-text--flag: #FFFFFF;

$gradient: linear-gradient(to bottom right, dodgerblue, deeppink);

$font-stack: 'Avenir Next', 'Lato', sans-serif;

$break: 40rem;
